<!DOCTYPE html>
html(lang="en")
  include partials/_head.pug

  body
    #app.my-5.p-5

      loading(:active.sync="isLoading" :is-full-page="true")
      
      .row
        .col-7
          .card-columns
            .card(v-for="item in products" :key="item.id")
              .card-tag {{item.category}}
              .card-img(:style="{backgroundImage: 'url(' + item.imageUrl[0] + ')'}")
              .card-body.py-3.text-center
                h5.card-title.font-weight-bolder {{item.title}}
                p.card-text {{item.content}}
                p.mb-0(v-if="item.origin_price == item.price") 售價：
                  span {{item.origin_price}}
                .card-price(v-if="item.origin_price !== item.price")
                  del 售價：
                    span {{item.origin_price}}
                  p 特價：
                    span.font-weight-bolder {{item.price}}
              .card-footer.bg-transparent
                a.btn.btn-outline-primary.d-block(href="#" @click.prevent="addToCart(item.id)") 加入購物車
          
          //- 分頁
          pagination(:pages="pagination" @get-products="getProducts")

        .col-5
          div.clearfix.mb-3.text-center
            span.title 購物車
            button.btn.btn-outline-danger.float-right(@click.prevent="removeAllCart()")  刪除全部
          table.table
            thead
              tr
                th(width="80" @click.prevent="removeCartItem(cart.product.id)")  刪除
                th.text-center  品名
                th.text-center(width="160")  數量
                th.text-center  單價
                th.text-center  總價
            tbody
              tr(v-for="cart in carts" :key='cart.id')
                td.align-middle
                  button.btn.btn-outline-danger.btn-sm(@click.prevent="removeCartItem(cart.product.id)")
                    i.far.fa-trash-alt
                td.align-middle  {{cart.product.title}}
                td
                  .input-group.number
                    .input-group-prepend
                      button.btn.btn-outline-info(:class="{'disabled': cart.quantity == 1}" @click.prevent="updateQuantity(cart.product.id, cart.quantity-1)") -
                    input.form-control.text-center(type="number" :value="cart.quantity")
                    .input-group-append
                      button.btn.btn-outline-info(@click.prevent="updateQuantity(cart.product.id, cart.quantity+1)") +
                td.text-right.align-middle  {{cart.product.price | currency}} / {{cart.product.unit}}
                td.text-right.align-middle  {{cart.quantity * cart.product.price | currency}}
            tfoot
              tr
                td.text-right(colspan="4") 總計
                td.text-right  {{cartTotal | currency}}

          h3.title  訂購資料
          validation-observer(v-slot="{invalid}" tag="form" @submit.prevent="createOrder")
            validation-provider.form-group(rules="required" v-slot="{errors, classes}" tag="div")
              label(for="name") 收件人姓名
              input#name.form-control(type="text" name="姓名" placeholder="請輸入姓名" :class="classes" v-model="form.name")
              small.invalid-feedback {{errors[0]}}
            validation-provider.form-group(rules="required|email" v-slot="{errors, classes}" tag="div")
              label(for="email") Email
              input#email.form-control(type="email" name="Email" placeholder="請輸入 Email" :class="classes" v-model="form.email")
              small.invalid-feedback {{errors[0]}}
            validation-provider.form-group(rules="required|min:8" v-slot="{errors, classes}" tag="div")
              label(for="tel") 電話
              input#tel.form-control(type="tel" name="電話" placeholder="請輸入電話" :class="classes" v-model="form.tel")
              small.invalid-feedback {{errors[0]}}
            validation-provider.form-group(rules="required" v-slot="{errors, classes}" tag="div")
              label(for="address") 地址
              input#address.form-control(type="text" name="地址" placeholder="請輸入地址" :class="classes" v-model="form.address")
              small.invalid-feedback {{errors[0]}}
            .form-group
              label(for="payment") 購買方式
              select#pay.form-control(name="payment" v-model="form.payment" required)
                option(value="" selected disabled) 請輸入付款方式
                option(value="WebATM") WebATM
                option(value="ATM") ATM
                option(value="CVS") CVS
                option(value="Barcode") Barcode
                option(value="Credit") Credit
                option(value="ApplePay") ApplePay
                option(value="GooglePay") GooglePay
            .form-group
              label(for="message") 留言
              textarea#message.form-control(name="message" cols="30" rows="3" placeholder="留言給我們" v-model="form.message")
            div.text-center
              button.btn.btn-primary(type="submit" :disabled="invalid")  確認訂購
      
      //- modal 元件
    #modal.modal.fade(role="dialog" aria-labelledby="mdalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title 完成訂單
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            | 恭喜您完成訂單
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") 關閉

    //- pagination 元件
    script(type="text/x-template" id="pagination")
      nav
        ul.pagination.justify-content-center
          li.page-item(:class="{'disabled': pages.current_page === 1}")
            a.page-link(href="#" aria-label="Previous" @click.prevent="changePage(pages.current_page-1)")
              span(aria-hidden="true") &laquo;
          li.page-item(:class="{'active': n === pages.current_page}" v-for="n in pages.total_pages" :key="n")
            a.page-link(href="#" @click.prevent="changePage(n)") {{n}}
          li.page-item(:class="{'disabled': pages.current_page === pages.total_pages}")
            a.page-link(href="#" aria-label="Next" @click.prevent="changePage(pages.current_page+1)")
              span(aria-hidden="true") &raquo;

    include partials/_script.pug
    script(src="js/all.js" type="module")